
<div class="container" style="width: 1000px">
  <div class="mt-4">
    <h3><%= @listing.title %></h3>
    <div class="row">
      <p>★ 4.97 · <%= @listing.country %></p>
    </div>
  </div>
  <div>
    <%= image_tag 'https://images.unsplash.com/photo-1566195992011-5f6b21e539aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGJlZHJvb218ZW58MHx8MHx8&w=1000&q=80', width: "100%", height: "500px", style: "border-radius: 16px"%>
  </div>
</div>

<div class="container">

  <%# <h1><%= @listing.title %>
  <%# </h1> %>
  <%# <%= image_tag("logo.png", width: "400px", height: "400px") %>
  <%# <% @listing.images.each do |image| %>
  <%# <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
  <%# <%= image_tag 'https://images.unsplash.com/photo-1566195992011-5f6b21e539aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGJlZHJvb218ZW58MHx8MHx8&w=1000&q=80', width: "100%" %>
  <%# <% end %>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 p-0 mt-3">
      <div class="my-3 d-flex align-items-center">
        <div class="ml-custom flex-grow-1">
          <h5 class="my-0">Entire unit hosted by <%= @listing.host.first_name %></h5>
          <p>
            <%= @listing.guest_count %> guests ·
            <%= @listing.bedroom_count %> bedrooms ·
            <%= @listing.bed_count%> bed ·
            <%= @listing.bathroom_count%> bathrooms
          </p>
        </div>
        <div>
          <%= image_tag("logo.png", class: "avatar-large") %>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-md-4 col-sm-12 summary-card p-4" data-controller="listing">

      <div class="">
        <div class="d-flex flex-row">
          <h5 class="fw-bold">$<%= @listing.price_per_night.to_i %></h5>
          <p class="">night</p>
        </div>

        <div class="d-flex">
          <i class="fa-solid fa-star"></i>
          <p class="mx-1"><strong>4.63</strong> (82 reviews)</p>
        </div>

        <form>
          <div class="row">
            <div class="col">
              <label for="formGroupExampleInput">Checkin</label>
              <input id="startDate" class="form-control" data-listing-target="startDate" type="date" value="<%= Date.today.strftime("%Y-%m-%d") %>" data-action="change->listing#startDateChange" min="<%= Date.today %>"/>
            </div>

            <div class="col">
              <label for="formGroupExampleInput">Checkout</label>
              <input id="endDate" class="form-control" data-listing-target="endDate" type="date" value="<%= (Date.today + 1).strftime("%Y-%m-%d") %>" data-action="change->listing#endDateChange" min="<%= Date.today + 1.day %>" />
            </div>
          </div>

          <label for="formGroupExampleInput">Guests</label>
          <br>
          <select class="form-select" id="inlineFormCustomSelectPref" data-listing-target="guestCount">
            <option selected>1</option>
            <% (@listing.guest_count + 1).times do |i| %>
              <% next if i < 2 %>
              <option value=" <%= i %>"><%= i %></option>
            <% end %>
          </select>

          <h6 class="my-4 fw-custom">Payment amount</h6>
          <div class="d-flex justify-content-between">
            <p>$<%= @listing.price_per_night.to_i %> x
              <span data-listing-target="nightCount">
                1
              </span>
              night(s)
            </p>
            <p>$<span data-listing-target="subTotal"><%= total_amount = @listing.price_per_night.to_i %></span>
            </p>
          </div>

          <div class="d-flex justify-content-between">
          <p>Cleaning Fee</p>
          <p>$<%= @listing.cleaning_fee %></p>
          </div>

          <div class="d-flex justify-content-between">
            <p>Service Fee</p>
            <p>$<%= @listing.service_fee %></p>
          </div>

          <hr>

          <div class="d-flex justify-content-between mb-3">
            <p class="fw-custom">Total</p>
            <p>$
              <span data-listing-target="totalAmount">
                <%= @listing.price_per_night.to_i %>
              </span>
            </p>
          </div>

          <button type="submit" class="booking-btn chat" href="<%= new_booking_path %>" data-action="click->listing#reserveBooking">Reserve</button>

        </form>
      </div>
    </div>
  </div>

  <%# <h5><strong><%= @listing.title %>
  <%# hosted by <%= @listing.host.first_name %>
  <%# </strong></h5> %>


  <% if policy(@listing).edit? %>
    <%= link_to "Edit", edit_listing_path(@listing) %>
  <% end %>

  <%= link_to "Back", listings_path %>

  <% if policy(@listing).destroy? %>
    <%= link_to "Delete", listing_path(@listing), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
  <hr>
  <div class="my-4">
    <h5>Where you'll be</h5>
  </div>

<%# ------ Do not remove ------ %>
  <script>
    const pricePerNight = <%= @listing.price_per_night %>
    const cleaningFee = <%= @listing.cleaning_fee %>
    const serviceFee = <%= @listing.service_fee %>
    const listingId = <%= @listing.id %>
  </script>
<%# ------ Do not remove ------ %>

</div>
