<div class="container" style="min-height: 90vh">
  <h1 class="my-4">Trip</h1>
  <h3 class="my-4 py-2 <%= "d-none" if @upcoming_bookings.empty? %>">Upcoming Trips</h3>
  <%= render "card", bookings: @upcoming_bookings %>

  <h3 class="my-4 py-2 <%= "d-none" if @past_bookings.empty? %>">Where you've been</h3>
  <%= render "card", bookings: @past_bookings %>

  <h3 class="my-4 py-2 <%= "d-none" if @cancelled_bookings.empty? %>">Cancelled</h3>
  <%= render "card", bookings: @cancelled_bookings %>
</div>
