<div class="row mx-5">
  <div class="col-lg-6 col-sm-12">
    <div class="">
      <div class="d-flex">
        <div class="m-2 back_link">
          <%= link_to "#" do %>
            <i class="fa-solid fa-chevron-left"></i>
          <% end %>
        </div>
        <h1>Request to book</h1>
      </div>
      <h4>Your trip</h4>
      <h6>Dates</h6>
      <div class="d-flex justify-content-between">
        <p><%= @booking.start_date.strftime("%d %h %Y") %> - <%= @booking.end_date.strftime("%d %h %Y") %></p>
        <div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datepicker">
            Edit
          </button>

          <%= render "datepicker_modal" %>




        </div>
      </div>
      <h6>Guests</h6>
      <div class="d-flex justify-content-between">
        <p><%= @guest_count %> guests</p>
        <div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guest">
            Edit
          </button>

          <%= render "guest_modal"  %>
        </div>
      </div>
      <hr>
      <h4>Additional information for your trip</h4>
      <h6>Message the host</h6>
      <p>Let the host know why you're travelling and when you'll check in</p>
    </div>
    <div class="my-3 d-flex align-items-center">
      <div>
        <%= image_tag("logo.png", class: "avatar-large") %>
      </div>

      <div class="ml-custom flex-grow-1">
        <h5 class="my-0"><%= @booking.listing.host.first_name %></h5>
        <p class="my-0"><%=  @booking.listing.country%></p>
      </div>
    </div>
    <div class="form-group textarea">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="text-center">
      <%= link_to "Request to book", '#', class: "booking-btn chat"%>
    </div>
  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="col-lg-6 col-sm-12 summary-card">
      <div>
        <%= image_tag 'https://cdn.decoist.com/wp-content/uploads/2017/03/Modern-apartment-units-inside-heritage-building-Down-Under.jpg', width: "100%", class: "summary-card-picture" %>
      </div>
      <div class="mx-5">
        <h5 class="my-4 fw-custom"><%= @booking.listing.title %></h5>
        <div class="d-flex">
          <i class="fa-solid fa-star"></i>
          <p class="mx-1"><strong>4.63</strong> (82 reviews)</p>
        </div>
        <hr>
        <h5 class="my-4 fw-custom">Payment amount</h5>
        <% total_amount = @booking.listing.price_per_night.to_i * @booking.night_count %>
        <div class="d-flex justify-content-between">
          <p>$<%= @booking.listing.price_per_night.to_i %> x <%= @booking.night_count %> nights</p>
          <p>$<%= total_amount %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Cleaning Fees</p>
          <p>$<%= @booking.listing.cleaning_fee %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Service Fees</p>
          <p>$<%= @booking.listing.service_fee %></p>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <p class="fw-custom">Total</p>
          <p>$<%= total_amount + @booking.listing.cleaning_fee + @booking.listing.service_fee %></p>
        </div>
      </div>
    </div>
  </div>
</div>
