<div class="row mx-5 my-3">
  <div class="col-lg-6 col-md-6 col-sm-12 px-5">
    <div class="">
      <div class="d-flex">
        <div class="m-2 back_link">
          <%= link_to "#", class: "link" do %>
            <i class="fa-solid fa-chevron-left"></i>
          <% end %>
        </div>
        <h1><strong>Request to book</strong></h1>
      </div>
      <div class="d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
        <%= render "summary_card" %>
      </div>
      <h4 class="my-4">Your trip</h4>
      <h6 class="my-3"><strong>Dates</strong></h6>
      <div class="d-flex justify-content-between">
        <p><%= @booking.start_date.strftime("%d %h %Y") %> - <%= @booking.end_date.strftime("%d %h %Y") %></p>
        <div>
          <button type="button" class="booking-btn ml-custom cancel flex-grow-3 bg-white px-3 py-1" data-bs-toggle="modal" data-bs-target="#datepicker">
            Edit
          </button>

          <%= render "datepicker_modal" %>
        </div>
      </div>
      <h6 class="my-3"><strong>Guests</strong></h6>
      <div class="d-flex justify-content-between">
        <p><%= @guest_count %>
          <% if @booking.guest_count == 1 %>
            guest
          <% else %>
            guests
          <% end %>
        </p>
        <div>
          <button type="button" class="booking-btn ml-custom cancel flex-grow-3 bg-white px-3 py-1" data-bs-toggle="modal" data-bs-target="#guest">
            Edit
          </button>

          <%= render "guest_modal"  %>
        </div>
      </div>
      <hr>
      <h4 class="my-4">Additional information for your trip</h4>
      <h6>Message the host</h6>
      <p class="small">Let the host know why you're travelling and when you'll check in</p>
    </div>
    <div class="my-3 d-flex align-items-center">
      <div>
        <%= image_tag("logo.png", class: "avatar-large") %>
      </div>

      <div class="ml-custom flex-grow-1">
        <h5 class="my-0"><%= @booking.listing.host.first_name %></h5>
        <p class="my-0"><%=  @booking.listing.country%></p>
      </div>
    </div>
    <div class="form-group textarea">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="text-center ">
      <%= link_to "Request to book", "#", class: "booking-btn chat"%>
    </div>
  </div>
  <div class='col-lg-6 col-md-6 col-sm-12 p-3 d-flex justify-content-center d-none d-md-block'>
    <%= render "summary_card" %>
  </div>
</div>
